@media screen and (max-width: 640px) {
    nav .navigation {
        display: none;
    }

    .button-box{
        display: block;
        position: relative;
        left: auto;
        right: auto;
    }
    
    .home-grid {
        display: block;
        height: auto;
    }
    .home-title {
        font-size: 25px;
    }

    .msg ul li p{
        display: none;
    }

    footer {
        margin-top: 25px;
        text-align: center;
        flex-direction: column;
    }
    .social-media>a>img, footer>a{
        margin-top: 15px;
    }

    /* menu */
    header{
        grid-template-columns: 200px 1fr;
        padding: 1rem;
    }
    #menu.open::before {
        content: "X";
    }


    nav .open{
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }
    #menu {
        display: block;
        font-size: 2rem;
        border: 1px solid rgba(0,0,0,.3);
        background-color: #eee;
        color: #000;
        border-radius: 5px;
    }
    #menu::before {
	content: "☰";
    }
    .open{
        padding: 0;
    }

    /* weather box */
    .chill, #current-weather tbody tr, #forecast tbody tr{
        display: flex;
        flex-direction: column;
    }
    .degree{
        margin: 0;
    }
    .weather-icon{
        width: 70%;
    }
    #current-weather tbody tr{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #forecast{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #weather{
        margin-bottom: 2.5rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* form and table */

    #grid-form{
        display: flex;
        flex-direction: column;
    }

    fieldset p{
        position: relative;
        left: 2px;
        top: 2px;
    }

    form fieldset{
        margin-left: 1%;
    }

    /* Thanks page */
    #thanks{
        font-size: 20px;
        margin: 5% 10% 5% 10%;
    }
    #thanks-message{
        font-size: 20px;
        margin: 5% 10% 10% 10%;
    }

    /* Reservations */
    .reservations-main{
        flex-direction: column;
    }

    .reservations-main form{
        width: 90%;
    }
    #agreement-services{
        font-size: 12px;
        margin-right: 0;
        width: 80%;
    }

    
    /* Rentals */

    table {
      border: 1px solid #ddd; /* Add a border for better visibility */
    }
  
    /* Hide table headers on small screens */
    th {
      display: none;
    }
  
    /* Adjust table data cells for better readability */
    td {
      display: block;
      text-align: left;
      border: none;
      position: relative;
      padding-left: 50%; /* Create space for data labels */
    }
  
    /* Style for data labels in small screens */
    td:before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 5px;
      top: 0;
    }
  
    /* Style for images inside table cells on small screens */
    td img {
      max-width: 80px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
}