body {
	font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

section {
    padding: 1rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1.5em;
}

div.banner {
	padding: 1rem;
	background-color: #eee;
    font-weight: 700;
	text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1 rem 0;
}

h3 {
    margin-bottom: .5rem;
}

main {
	display: grid;
}

h2 {
	color: navy;
	text-align: center;
    grid-column: 1/3;
}

article p {
	text-align: justify;
}

.callout {
	color: white;
	background-color: #702963;
    padding: 1rem;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}