@media screen and (min-width: 1340px) {
    .home-grid{
        margin-right: 11%;
        margin-left: 11%;
    }
    .msg-img{
        padding: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }
}